@font-face {
    font-family: "Montserrat-BlackItalic";
    src: url("../fonts/montserrat/Montserrat-BlackItalic.otf") format("otf");
         url("../fonts/montserrat/Montserrat-BlackItalic.ttf") format("ttf");
    font-weight: 700;
}
body {
	font-family: Montserrat-BlackItalic;
}

h1 {
	font-family: Montserrat-BlackItalic;
	
}